<%- include("../partials/header") %>
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome To Rock Climbing!!!</h1>
            <p>View our hand-picked rock climbing gyms from all over the world</p>
            <p>
                <a class="btn btn-primary btn-large" href="/gyms/new">Add New GYM</a>
            </p>
        </div>
    </header>

    <div class="row text-center">
        <% gyms.forEach(function(gym){%>
        <div class="col-md-3 col-sm-6">
            <div class="card">               
                <img src = <%=gym.image%> class="card-img-top">
                <div class= "card-footer pt-0 pb-0">
                    <h5 class="mt-1"><%= gym.name%></h5>
                </div>
                <a href="/gyms/<%= gym._id %>" class="btn btn-primary">More Info</a>            
            </div>
        </div>
        <% });%>
    </div>
</div>
<%- include("../partials/footer") %>